{% load staticfiles %}
<html>
    <head>
        <title>this shit's in progress yo</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
    </head>
    <body>
{% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">change password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">logout</a>
            </li>
          </ul>
          <span class="navbar-text">
            logged in as {{ user.username }}
          </span>
        </div>
      </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">reset password</a>
          </li>
        </ul>
        <span class="navbar-item">
          <a class="nav-link" href="#">register</a>
        </span>
      </div>
{% endif %}
    </nav>
      <div class="page-header">
            {% block header %}
            {% endblock %}
      </div>
      <div class="row">
        <div class="col-sm-8">
          <ul class="list-group">
            {% block content %}
            {% endblock %}
          </ul>
        </div>
      </div>
    </body>
</html>
